<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sinatra Test</title>
	<link rel="stylesheet" href="<%= url('/style.css') %>">
</head>
<body>
	<div class="header">
		<div class="logo"><a href="/">Sinatra Test</a></div>
		<nav class="menu">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/sets">Sets</a></li>
				<li><a href="/session">Session</a> (<a href="/session/clear" id="clear_session">clear</a>)</li>
			</ul>
		</nav>
	</div>
	<div class="content">
		<span class="error"><%= @error || "" %></span>
		<%= yield %>
	</div>
</body>
</html>