<h1>Create New Set</h1>
<form action="/sets/new" method="post">
	<label for="name">Set Name:</label>
	<input type="text" name="name" id="name" value="<%= @name %>">
	<label for "urls">URLs:</label>
	<input type="text" name="urls" id="urls">
	<input type="submit" name="submit" id="submit" value="Create">
</form>